@using Maze.Controllers
@{
    ViewBag.Title = "Home Page";
}

<div class="login-container">
    <div class="row">

            <div class="col-md-6 cover">
                <h2>Sign In</h2>
                <form id="signin">
                    <div class="form-group row">
                        <label for="user-email" class="sr-only">Email</label>
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="user-email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="user-password" class="sr-only">Password</label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="user-password" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-12 pull-right">
                            <button type="submit" class="btn btn-primary no-bs-fancystuff">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-6 cover">
                <h2>Sign Up</h2>
                <form id="signup">
                    <div class="form-group row">
                        <label for="new-user-name" class="sr-only">Name</label>
                        <div class="col-sm-12">
                            <input class="form-control" id="new-user-name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="new-user-email" class="col-sm-2 col-form-label sr-only">Email</label>
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="new-user-email" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="new-user-password" class="col-sm-2 col-form-label sr-only">Password</label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control" id="new-user-password" placeholder="Password">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button id="new-user-submit" type="submit" class="btn btn-primary change-color no-bs-fancystuff">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>

    </div>  
    
    <div class="row message-area">
        
    </div>
</div>



<script type="text/javascript">

    $(document).ready(function() {
        var userOperationsHelper = new UserOperationsHelper({
            signUpUrl: "@Url.Action( "CreateNewUser", "UserOperations" )",
            signInUrl: "@Url.Action("UserLogin","UserOperations")"
        });
    });

</script>